@font-face {
                font-family: 'GillSans-UltraBold';
                src: url('font/ufonts.com_gill-sans-ultra-bold1.eot');
                src: url('font/ufonts.com_gill-sans-ultra-bold1.eot?#iefix') format('embedded-opentype'),
                         url('font/ufonts.com_gill-sans-ultra-bold1.woff') format('woff'),
                         url('font/ufonts.com_gill-sans-ultra-bold1.ttf') format('truetype'),
                         url('font/ufonts.com_gill-sans-ultra-bold1.svg#ufonts.com_gill-sans-ultra-bold1') format('svg');
                font-weight: bold;
                font-style: normal;
        }


body {
        background:#000;
        color:#fff;
        height:100%;
        font-family:"Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
        font-size:13px;

}
.bg {
        position:absolute;
        top:-50%;
        left:-50%;
        width:200%;
        height:200%;
}
.bg img {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        min-width:50%;
        min-height:50%;
        display:none;
}

.bg img:first-child {
    display: block;
}

.clear {
        clear:both;
}

#wrapper {

    height:100%;
    overflow: hidden;
}

#whole_page {
        height:100%;
}

#first_page {
        width:960px;
        height:600px;
        float:left;
        position:relative;
        overflow:hidden;
}

.main_bar {
        position:absolute;
        width:250px;
        height:600px;
        background:#0A0F06;
        min-height:600px;
        z-index:200;
        top:0;
        color:#fff;
}

#first_page .main_bar {
        left:0;
}

.logo {
        background:url(../images/refinery_logo.png) no-repeat;
        width:154px;
        height:36px;
        margin-left:30px;
        margin-top:58px;
}

.logo a {
    display: block;
    width:154px;
    height:36px;
}

#top_menu {
    background:#0A0F06;
    position:absolute;
    height: 75px;
    top:0;
    left:250px;
    width:100%;
}

.main_menu {
        position:absolute;
        top:35px;
        left:35px;        
        letter-spacing:1px;
       
}

.main_menu li {
        list-style:none;
        color:#C4C39F;
        text-align:center;
        font-size:12px;
        float:left;
        font-weight: bold;
        margin-right:5px;
}

.main_menu li.seperated {

}

.main_menu li a {
        text-decoration:none;
        text-transform:uppercase;
        display:block;
        color:#C4C39F;      
        letter-spacing: 3px;
}


.main_menu li a:hover {
    color:#fff;
}

.main_menu li a.selected {
    color:#fff;
}

.sub_menu {
        margin:25px auto;
        font-size:13px;
        display:none;
        padding-bottom:22px;
        border-bottom:2px solid #fff;
        width:80%;
}

.sub_menu li {
        margin-bottom:3px;
        text-align:center;
}

.sub_menu li a {
        text-decoration:none;
        color:#fff;
        font-family:'FuturastdBook',helvetica, arial, sans-serif;
        text-transform:uppercase;
        font-size:9px;
        letter-spacing: 1px;
}

.sub_menu li a:hover {

}

.main_footer {
        position:absolute;
        bottom:20px;
        left:30px;

        width:222px;

}

.main_footer p {
        
        margin-bottom:10px;
        font-size:6px;
        text-transform:uppercase;
        letter-spacing: 1px;
}

#switch_right {
        width:67px;
        height:600px;
        background:url(../images/side/ap_rightside.png) 0px 23px no-repeat;
        cursor:pointer;
        position:absolute;
        right:0;
        top:0;
        display: block;
}

#switch_left {
        width:67px;
        height:600px;
        background:url(../images/side/catering_leftside.png) -1px 23px no-repeat;
        cursor:pointer;
        position:absolute;
        left:0;
        top:0;
        display: block;
}

.buff_box {
    width:655px;
    height:23px;
    background:url(../images/trans-bg.png) repeat;
    position: absolute;
    left:250px;
    top:158px;
}

.lower.buff_box {

}

#main_content {
    position: absolute;
    top:75px;
    left:250px;


}


.main_footer a {
        display:inline-block;
        margin-right:2px;
        margin-left:2px;
}



#document_link {
    display: block;
    width:28px;
    height:35px;
    background:url(../images/download.png) no-repeat;
    position: absolute;
    top:0;
    left:24px;

}

#close_box {
    display: block;
    width:29px;
    height:29px;
    background:url(../images/close_button.png) no-repeat;
    position:absolute;
    top:0;
    right:-24px;
}

#page_title {
    font-family: 'FuturastdBold';
    font-weight:normal;
    font-size:14px;
    text-transform:uppercase;
    position: absolute;
    top:136px;
    left:24px;
    text-align:center;
    width:100%;
}

#page_content {
    position: absolute;
    left:24px;
    top:170px;
    width:100%;

}

.small_line {
    margin:0 auto;
    width:197px;
    height:1px;
    background:#fff;
}

.excerpt {
    text-align: center;
    margin:32px auto;
    width:505px;
}

.excerpt p {
    line-height:1.4;
    text-transform:uppercase;
    font-size:15px;
}

#two_column {

}

.info_column a {
    font-size:12px;
    color:#fff;
}

.left {
    float:left;
}

.right {
    float:right;
}

.column {
    width:153px;
}

.column p {


}

.left.column {
    padding-right:22px;

}

.bottom_content {
    width:505px;
    margin:50px auto;

}

.bottom_content p,#contact_footer p {
    font-size:10px;
    text-align:center;
    text-transform:uppercase;
}

#map_wrapper {
    width:540px;
    height:326px;
    margin:13px auto;
    padding-top:9px;
    border:1px solid #666;
}

#map_holder {
    width:522px;
    height:316px;
    margin:auto auto;
}

#contact_footer {
    text-transform:uppercase;
    width:540px;
    margin:0 auto;
    margin-top:45px;
    height:66px;
    background:url(../images/bike.png) top center no-repeat;
}

#contact_footer div {

}

#sub_bg {
    display:none;
}

.main_footer a {
    color:#fff;
}

.wrapper_box {
    z-index:10;
}

#gray_box {
    width:576px;
    background:#272626;
    height:100%;
    color:#607911;
    position:absolute;
    left:-666px;
    padding-top:180px;
    padding-left:60px;
    padding-right:30px;
    padding-bottom:30px;
}

#green_box {
    
    background:rgba(84, 97, 84, 0.8);
    width:600px;
    
    height:100%;

    position:absolute;
    left:-682px;
    padding-top:15px;
    padding-left:35px;
    padding-right:47px;

}

.yellow {
    color:#ECC65F;
}


#map_box {
    width:898px;
    background:rgba(30, 17, 6, 0.95);
    height:100%;
    color:#EFEECB;
    position:absolute;
    font-size:22px;
    left:-916px;
    padding-top:18px;
    padding-left:18px;
    padding-right:0px;
}

#brown_box {
    width:617px;
    background:rgba(30, 17, 6, 0.8);
    height:100%;
    color:#EFEECB;
    position:absolute;
    font-size:22px;
    left:-682px;
    padding-top:15px;
    padding-left:35px;
    padding-right:30px;
}

#yellow_box {
   background:rgba(212, 202, 163, 0.8);
        width:617px;
    color:#fff;    
    height:100%;
    font-size:22px;
    position:absolute;
    left:-682px;
    padding-top:15px;
    padding-left:35px;
    padding-right:30px;
}

#yellow_box h2 {
    font-size:12px;
    color:#ECC65F;
}

.close_button {
    cursor:pointer;
    display: block;
    width:21px;
    height:21px;
    position: absolute;
    right:-10px;
    bottom:30px;
    display:none;
}

 .close_button {
    background:url(../images/ref_close.png) no-repeat;
}

#gray_box .close_button {
    bottom:239px !important;
}

.content_placeholder {
    padding-right:30px;
    padding-top:20px;
}

.content_placeholder p {
    line-height:1.4;
    margin-bottom:20px;
    text-align: justify;
}

.alt_menu {
     width:165px;
    margin-left:30px;
    margin-top:45px;
    display: none;
}

.alt_menu p {
    font-size:12px;
    line-height: 2;
    font-family: "Gill Sans", "Gill Sans MT", Helvetica, Arial, sans-serif;
}


.menu {
    margin-top:25px;
    margin-bottom:25px;
}

.menu li {   
   
    font-size:11px;
}

.menu li a {
    color:#fff;
    font-weight:bold;
    font-size: 12px;
    line-height: 2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.download_link {
    margin-bottom:25px;
    display: block;
}

.menu li a:hover {
    color:#C4C39F;
}

.menu li a.selected {
    color:#C4C39F !important;
}
.alt_menu a {
    color:#C4C39F;
    font-size:12px;
    font-weight: bold;
}

/* MENU STYLE*/

.menu_content {
    width:565px;
     font-size:11px;
    color:#fff;
    padding-top:29px;
    line-height:2;
}

.menu_content h2 {
    clear: both;
    color:#ECC65F;
    text-transform: uppercase;
    border-top:1px dotted #fff;
    padding-top:10px;
    margin-bottom:10px;
    font-size:12px;
}

.menu_content h3 {
     text-transform: uppercase;;
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: 5px;
    border-top: 1px dotted #fff;
    padding-top: 10px;
}

.menu_content h4 {
    text-transform: uppercase;;
    font-size: 11px;
    margin-top: -5px;
    margin-bottom: 5px;
}

.menu_content h2 span {
    font-size: 12px;
    font-weight: normal;
    
    color:#fff;
    text-transform: none;
}

.two_columns,.one_column {
    margin-bottom:20px;
}

.col_1 {
    float:left;
    width:260px;
}

.col_2 {
    float:right;
    width:260px;
}



.menu_content h3 {

}

.menu_content p {
    font-size:12px;
    color:#fff;
    margin-bottom:20px;
    line-height:1.4;
}

.menu_content .cap {
    font-size:10px;
}

span.nameeng {

}

span.namevi {
    color:#8EA5A2;
}

span.namejap {

}

span.price {

}

.three_columns {
    margin-bottom:45px;
}

.col1 {
    float:left;
    width:155px;
    margin-right:30px;
}

.col2 {
    float:left;
    width:155px;
    margin-right:30px;
}

.col3 {
    float:left;
    width:155px;
}

.scroll_holder {

}


#nav_photo {
    width:70px;
    position: absolute;
    bottom:30px;
    left:48%;
    z-index: 1;
}

#next_photo {   
    cursor: pointer;
    background:url(../images/ref_next.png) no-repeat;
    width:25px;
    height:22px;
    float:left;
}

#prev_photo {    
    cursor: pointer;
    background:url(../images/ref_back.png) no-repeat;
    width:25px;
    height:22px;
    float:left;
    margin-right:20px;
}



.bg div {
    display:none;
}

.current {
    display:block !important;
}


.menu_content table {
    margin-bottom: 10px;
}

.menu_content .name {
    width: 310px;
    padding-bottom: 5px;
    vertical-align: top;
}

.menu_content .location {
    width: 155px;
    padding-left: 35px;
    color: #CCC;
    padding-bottom: 5px;
    vertical-align: top;
    font-style: italic;
}

.menu_content .price {
    font-style: italic;
    padding-bottom: 5px;
    vertical-align: top;

    width: 95px;

}

.bg_wrapper {
    position: absolute;
    float: right;
    right: 0;
    top: 75px;
    width:100%;
    height: 100%;
}

#bar_content {
    width:165px;
    margin-left:30px;
    margin-top:45px;
}

#bar_content p {
    line-height: 2;
    font-size:12px;
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
    margin-bottom:15px;
}

.cap {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.gillsans {
    font-family: "Gill Sans", Helvetica, Arial, sans-serif ;
}

#bar_content .cap.gillsans, .alt_menu .cap.gillsans{
    letter-spacing: 1px;
    width: 190px;
    display: block;
    font-size:17px;
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    text-transform: none;
    line-height: 1.4;
    margin-bottom: 10px;
}

.alt_menu p strong {
    font-size:12px;
}

#bar_content a {
    color:#fff;
}

#flower {
    width:55px;
    height: 82px;
    position: absolute;
    bottom:30px;
    right:30px;
    background: url(../images/refinery_flower.png) no-repeat;
}

#one_column {
    margin-top:20px;
}

#coming_soon {
    text-align: center;
    margin-top:50px;
}

#coming_soon h2 {
    font-size:12px;
    color:#3C3610;
    text-transform: uppercase;
    margin-bottom:20px;

}

#coming_soon img {

}

#map_menu, #history_menu {
    display: none;
    margin-bottom: 10px;
}

#contact_p p {
    font-size:12px;
}

#photo_caption {
    height: 82px;
    position: absolute;
    bottom:0;
    left:0;
    background:rgba(30, 17, 6, 0.8);
    z-index: 0;
    display: none;
    width:100%;
}

#caption_holder {    
    position: absolute;
    left:35px;
    bottom:30px;
    font-size: 12px;
    font-family: "Gill Sans", Helvetica, Arial, sans-serif;
    
}

.press p {
    color:#42210B !important;
    font-style: italic;
}

.press p strong {
    font-style: normal;
}

.press a {
    color:#42210B !important;
    text-transform: uppercase;
    font-style: normal;
}

.press hr {
    background: #42210B;
    color: #42210B;
    border: 1px solid #44210B;
}

#contact_p {
position: absolute;
left: 30px;
bottom: 70px;
}

#contact_p h3 {
    font-weight: bold;
font-size: 12px;
line-height: 2;
text-transform: uppercase;
letter-spacing: 2px;
color: #C4C39F !important;
}

.main_bar hr {
    border: none;

    border-bottom: 1px dotted #fff;
    width: 188px;
    margin-bottom: 10px;
}